# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IntelliJ IDEA папка .idea
.idea/


# Исключить .iml файлы
*.iml

# Исключить target папку Maven
/target/

# Исключить лог-файлы
*.log
/compiler.xml
